
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=975cc797f1fa7175184838090dd0ea9a
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress